<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-combinedkeyboard" version="0.0.1">
   <name>CombinedKeyboard</name>
   <description>CombinedKeyboard</description>
   <license>MIT</license>

   <keywords />
   <repo>https://github.com/Yomyer/cordova-plugin-combinedkeyboard.git</repo>
   <js-module name="CombinedKeyboard" src="www/CombinedKeyboard.js">
      <clobbers target="CombinedKeyboard" />
   </js-module>
   <platform name="ios">

      <config-file parent="/*" target="config.xml">
         <feature name="CombinedKeyboard">
            <param name="ios-package" value="CombinedKeyboard" />
            <param name="onload" value="true" />
         </feature>
      </config-file>

      <source-file src="src/ios/CombinedKeyboard.h" />
      <source-file src="src/ios/CombinedKeyboard.m" />      
   </platform>
</plugin>